.pgwSlideshow {
    width: 100%;
    /* background: #333; */
    display: none;
    margin: 0;
    padding: 0;
}

.pgwSlideshow ul{
    margin: 0;
    padding: 0;
}

.pgwSlideshow a{
    color: #fff;
}

.pgwSlideshow .ps-current {
    text-align: center;
    position: relative;
    min-height: 150px;
    overflow: hidden;
}

.pgwSlideshow .ps-current > ul  > li {
    text-align: center;
    width: 100%;
    z-index: 1;
    opacity: 0;
    display: block;
}

.pgwSlideshow .ps-current > ul  > li img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.pgwSlideshow .ps-caption {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    text-align: left;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    /* padding: 10px; */
    display: none;
}

.pgwSlideshow .ps-caption span {
    padding: 7px;
    display: inline-block;
}

.pgwSlideshow .ps-list {
    border-bottom: 7px solid #d6d6d0;
    border-top: 7px solid #8a8a8af7;
    box-shadow: 0 10px 10px -5px #7b7b7b inset;
    background: #d6d6d0;
    overflow: hidden;
    position: relative;
}

.pgwSlideshow .ps-list ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
}

.pgwSlideshow .ps-list li {
    float: left;
}

.pgwSlideshow .ps-list li .ps-item {
    display: block;
    margin: 1px 4px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.pgwSlideshow .ps-list li img {
    display: block;
    border: 1px solid #777;
    width: 80px;
    height: 80px;
}

.pgwSlideshow .ps-list li .ps-item.ps-selected {
    float: left;
    opacity: 1;
    border: 4px solid rgb(244, 244, 244);
    overflow: hidden;
}

.pgwSlideshow .ps-list li .ps-item.ps-selected img {
    margin: -4px;
}

.pgwSlideshow .ps-current .ps-prev {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
    padding: 20px 20px 20px 15px;
    left: 0;
    top: 45%;
    cursor: pointer;
}

.pgwSlideshow .ps-current .ps-next {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: absolute;
    padding: 20px 15px 20px 20px;
    right: 0;
    top: 45%;
    cursor: pointer;
}

/*
 * The media-queries are not used because IE8 doesn't support them.
 */
.pgwSlideshow.narrow .ps-list li img {
    width: 60px;
    height: 60px;
}

.pgwSlideshow.narrow .ps-current .ps-prev {
    padding: 15px 15px 15px 12px;
    top: 40%;
}

.pgwSlideshow.narrow .ps-current .ps-next {
    padding: 15px 12px 15px 15px;
    top: 40%;
}

.pgwSlideshow.narrow .ps-caption {
    font-size: 25px;
    padding: 1px;
    font-family: 华文隶书;
}