
ul.mslider_wrapper {
    position: relative;
    top: 0;
    overflow: hidden;
}

ul.mslider_wrapper li {
    float: left;
    height: auto;
    width: 100%;
    overflow: hidden;
}

#scroll_container {
    position: relative;
    width: 100%;
}

#scroll_container_bg {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    background-size: contain;
}

#canvas {
    position: relative;
    width: 100%;
    z-index: 99;
    /*background-size:contain;*/
}
.cstlayer {
    left: 0;
    top: 0;
    position: relative;
    overflow:hidden;
    z-index: 99;
}
.cstlayer1{
   position: relative;
    top: 103px;
    left: 0px;
    z-index: 101;
    display: block; 
overflow:hidden;
}
.cstlayer2{
    width: 100%;
    margin-top: 20px;
    position: relative;
    height: 100%;
}
.position1{
    /*left: 20%;*/
    top: 40px;
    position: relative;
}
.line-position{
    top: 48px;
    position: relative;
    width: 100%;
    height: 33px;
}

.line-style{
    margin: 15px 0;
    width: 100%;
    overflow: hidden;
    border: none;
    border-top: 5px solid #ff9148;
    height: 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.picture-position{
    left: 20px;
    /* top: 20px; */
    position: relative;
    z-index: 119;
    width: 90%;
    height: 100%;
}
.picture{
    width: 100%;
    height: 188px;
    position: relative;
    border-style: dotted;
    border-width:3px;
}
.title-position{
    /*left: 38px;*/
    top: 20px;
    bottom: 20px;
    position: relative;
    z-index: 149;
    width: 100%;
    height: 100%;
}
.title{
    overflow-wrap: break-word;
    padding: 0px;
    border-color: transparent;
    border-width: 0px;
    height: 45px;
    width: 100%;
    display: block;
    border-style: solid;
    font-size: 12px;
    text-align: center;
    text-shadow:1px 1px #c0a16b;
}
.title span{
    font-size: 30px;
    color:#333333;
}
.text-position{
    left: 40px;
    position: relative;
    z-index: 165;
    width: 100%;

    height: 100%;
    display: block;
}
.text{
    border-width: 0px;
    height: 168px;
    font-size: 12px;
    text-align: left;

}
.text a{
    line-height: 200%;
    font-family: 华文仿宋;
    color: rgb(102, 102, 102);
    font-size: large;
    border-bottom: 2px dotted #c0a16b;
}

    .button_back {
        position: relative;
        height: 46px;
        line-height: 46px;
        width: 146px;
        border: 1px solid #c0a16b;
        padding: 1px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #fff;
        -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 4px 0px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 4px 0px;
        box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 4px 0px;
        cursor: pointer;
    }

    .button_btngrid-link {
        position: relative;
        background-color: #c0a16b;
        height: 46px;
        line-height: 46px;
        display: inline-block;
        text-align: center;
        width: 100%;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
        -webkit-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
        -o-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
        transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;

    }

    .button_btngrid-link div {
        position: relative;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

    }

    .button_label {
        -moz-transition: color 0.4s ease 0s;
        -webkit-transition: color 0.4s ease 0s;
        -o-transition: color 0.4s ease 0s;
        transition: color 0.4s ease 0s;
        color: rgb(255, 255, 255);
        font-weight: bold;
        white-space: nowrap;
    }

    .btnarea {
        text-align: center;
        background-color: #f5ac39;
        background-repeat: repeat;
        background-size: auto;

    }

    .btnarea span {
        padding: 0px;

    }




body {
    font-family: "微软雅黑", "宋体";
    font-size: 1em;
    text-size-adjust: none;
}

.sticky{
    position: sticky;
    top: 0.01px;
    z-index: 9999;
}
.sticky-icon{
    position: sticky;
    top: 10px;
    z-index: 9999;
}
div {
    /* display: block; */
}

.bt-color{
    background-color: white;
    line-height: 1;

}

.f1 {
    float: left;
}

nav button{
    float: right;
    border: 0;
    padding: 5px 16px;
}
.navbar{
    min-height: 0;
}
.navbar-nav{
    margin: 2px -15px;
}
.nav-item{
    padding: 17px 20px;
    /* border-bottom: 1px solid rgb(135, 81, 169); */
}
.navbar-nav li a{
    color: white;
    font-size: 2em;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.newcon-left {
    float: left;
    width: 99%;
    overflow: hidden;
    padding-bottom: 2%;
}

.time {
    float: right;
    font-size: 9px;
    height: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 标题 */
.seek-conatiner {
    width: 100%;
    margin-top: 20px;
    /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
}
.seek-conatiner .seek-title {
    width: 150px;
    margin: 0 auto;
    /* padding-bottom: 0; */
    text-align: center;
    font-size: 30px;
    font-family: "微软雅黑";
    /* border-bottom: 4px solid #82080ed4; */
}


.seek-conatiner .seek-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FAFAFA;
}
.seek-conatiner .seek-content li {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.seek-conatiner .seek-content li a {
    display: block;
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}


.seek-conatiner .seek-content li a .dsc {
    display: flex;;
    flex-direction: row;
    justify-content: space-between;;
    white-space: nowrap;
    width: 100%;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 13px;
    color:black;
    border-bottom:1px dashed #ccc;
}
.seek-conatiner .seek-content li a .dsc span{
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 底部 */
.seak-conatiner {
    position: relative;
    width: 100%;
    background: url(../img/底部.jpg);
    margin-top: 20px;
}
.seak-conatiner::after {
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    background-color: rgba(0,0,0,.7);
    z-index: 0;
    width: 100%;
    height: 100%;
}
.seak-conatiner .seak-title {
    width: 230px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-bottom: 1px;
    text-align: center;
    font-size: 20px;
    font-family: "微软雅黑";
    color: white;
}

.seak-conatiner .seek-title {
    width: 230px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-bottom: 1px;
    text-align: center;
    font-size: 15px;
    font-family: "微软雅黑";
    color: white;
}


.seak-conatiner .seak-content {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seak-conatiner .seak-content li .dsc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 15px;
    color: white;
    position: relative;
}
.seak-conatiner .seak-content li .dsc span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.seak-conatiner .seak-content li img {
    width: 25%;
    height: auto;
    object-fit: cover;
    text-align: center;
}

img {
    width: 12%;
    height: auto;
    object-fit: cover;
    text-align: center;
    position: relative;
}


i {
    color: white;
    font-style: normal;
    transform: scale(0.8);
    text-align: left;
}

/*美食导航2*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "微软雅黑", "宋体";
    font-size: 1em;
    text-size-adjust: none;
}
.text1{
    /* width: 360px; */
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
}
.text1 h4 {
    /* margin: 10px 0px 15px; */
    line-height: 20px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* font-weight: normal; */
    color: black;
    /* display: block; */
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
    margin-inline-end: 6px;
    padding-left: 20px;
    /* text-align: center; */
}

.text1 p {
    font-size: 10px;
    /* margin-bottom: 0px; */
    color: #999;
    /* margin: 0 0 10px; */
    display: block;
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    margin-inline-start: 99px;
    margin-inline-end: 9px;
}

.timebox {
    border: 2px solid #9b4206;
    width: 80px;
    height: 67px;
    margin-top: 22px;
    /* margin-left: 5px; */
    float: left;
}

.timebox i {
    height: 30px;
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-size: 15px;
    background-color: #9b4206;
    display: block;
    font-style: normal;
    text-align: center;
}

.timebox strong {
    color: #9b4206;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    display: block;
}

/* 底部 */
.seak-conatiner {
    position: relative;
    width: 100%;
    background: url(./Photo/底部.jpg);
    margin-top: 20px;
}
.seak-conatiner::after {
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    background-color: rgba(0,0,0,.7);
    z-index: 0;
    width: 100%;
    height: 100%;
}
.seak-conatiner .seak-title {
    width: 230px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-bottom: 1px;
    text-align: center;
    font-size: 20px;
    font-family: "微软雅黑";
    color: white;
}

.seak-conatiner .seek-title {
    width: 230px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-bottom: 1px;
    text-align: center;
    font-size: 15px;
    font-family: "微软雅黑";
    color: white;
}


.seak-conatiner .seak-content {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seak-conatiner .seak-content li .dsc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 15px;
    color: white;
    position: relative;
}
.seak-conatiner .seak-content li .dsc span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.seak-conatiner .seak-content li img {
    width: 25%;
    height: auto;
    object-fit: cover;
    text-align: center;
}

img {
    width: 12%;
    height: auto;
    object-fit: cover;
    text-align: center;
}


i {
    color: white;
    font-style: normal;
    transform: scale(0.8);
    text-align: left;
}